body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 24px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  color: #2e2f42;
}

.web-accent {
  color: #4d5ae5;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-item {
  display: inline-block;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.features-item,
.team-item,
.portfolio-item {
  padding: 0 15px;
}
.team-item {
  background-color: #ffffff;
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding: 94px 0;
}

.footer {
  background-color: #2e2f42;
  padding: 60px 0;
  text-align: center;
}

.footer-logo {
  color: #f4f4fd;
  display: inline-block;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.features-list::after,
.team-list::after,
.portfolio-list::after {
  content: "";
  display: table;
  clear: both;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
